:host {
    --sds-c-accordion-section-spacing-inline-end: 0;
    --sds-c-accordion-section-spacing-inline-start: 0;
}

.review-steps,
.reviewer {
    padding: 0;
    margin: 0;
}

.review-steps li,
.reviewer li {
    padding-bottom: 1rem;
}

.review-steps li .content,
.reviewer li .content {
    margin-left: 1rem;
    font-size: 0.825rem;
    color: #706e6b;
    padding-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.review-steps .item,
.reviewer .item {
    padding: 0.5rem;
    background: rgb(243, 242, 242);
    display: flex;
    align-items: center;
}

.reviewer .item {
    border-radius: 0.25rem;
}

.item + .item {
    margin-top: 0.75rem;
}

.review-steps .item.left {
    border-radius: 0.25rem 0 0 0.25rem;
}

.pending {
    margin-top: -2rem;
    float: right;
}

.status {
    color: rgba(112, 110, 107, 0.8);
}

.status::first-letter {
    text-transform: uppercase;
}